build/
install/
log/

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

/franka_sysid_[0-9][0-9][0-9][0-9]*/
*.db3
*.mcap
metadata.yaml

.vscode/
.idea/
tmp_sysid_plots/joint_collection_overview.png
.gitignore
tmp_sysid_plots/joint_torque.png
tmp_sysid_plots/joint_position.png
tmp_sysid_plots/joint_velocity.png
franka_sysid_tools/so101_sysid_collect_v2.py
